/*global*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primaryColor: #a1d8ee;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #cfdde2;
  --darkGrey: #cfcfcf;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
body {
  padding-top: 80px;
}
/*navbar*/
/*while screen is less than 768px*/
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--primaryColor);
}
.nav-header {
  padding: 1rem;
}
.nav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  position: absolute;
  top: 45px;
  right: 50px;
}
.imgpic {
  max-width: 5em;
}
.nav-icon {
  font-size: 1.5rem;
  color: var(--mainGrey);
}
.nav-links {
  height: 0;
  overflow: hidden;
  list-style-type: none;
}
.nav-links a {
  display: block;
  text-decoration: none;
  padding: 1rem 0;
  color: var(--mainBlack);
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
}
.nav-links a:hover {
  color: var(--mainGrey);
}
.show-nav {
  height: 250px;
}
/*navbar when screen is greater than 768px*/

@media screen and (min-width: 768px) {
  .nav-btn {
    display: none;
  }
  .nav-center {
    display: grid;
    grid-template-columns: 3fr auto;
  }
  .nav-links {
    height: auto;
    display: flex;
    margin: 1rem;
    padding-right: 3rem;
  }
  .nav-links a {
    margin: 1rem;
  }
}

/*art page css*/
.art-list {
  border: 2px solid var(--mainGrey);
  margin-top: 5rem;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 5rem;
}
.art-list-1 {
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.art-img-pic {
  padding: 2rem;
  max-width: 250px;
  max-height: 400px;
}
@media screen and (max-width: 768px) {
  .art-list {
    flex-direction: column;
    justify-content: space-evenly;
  }
  .art-piece {
    margin: 0.5rem;
    max-width: 500px;
  }

  .art-img-pic {
    max-width: 200px;
    padding: 1.5rem;
  }
}

/*about section*/
.container {
  border: 2px solid var(--mainGrey);
  margin-top: 5rem;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 5rem;
}
.about-img-container img {
  max-width: 275px;
}
.extra-pics {
  max-width: 150px;
}
.info-container {
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  line-height: 1.2rem;
}

.about-list-1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-size: 0.8rem;
}
.about-img-pic {
  margin-top: 2rem;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-bottom: 0.5rem;
  max-width: 275px;
  max-height: 400px;
}
.about-p {
  padding-bottom: 1rem;
}
.about-text p {
  padding-top: 1rem;
}
.about-text h3 {
  padding-top: 0.5rem;
}

.renderedList:before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 50%;
  padding-top: 20px;
  border-bottom: 1px solid var(--mainGrey);
}

@media screen and (min-width: 768px) {
  .info-container {
    display: grid;
    grid-template-columns: 1fr auto;
    text-align: left;
  }

  .about-text {
    padding: 1rem;
  }

  .about-info1 img {
    justify-content: center;
    max-height: 20rem;
  }

  .about-p {
    padding-bottom: 1rem;
    font-size: 0.8rem;
  }
  .about-list-1 {
    padding-bottom: 2rem;
    justify-content: center;
  }
  .renderedList:before {
    content: "";
    display: block;
    margin: 0 auto;
    width: 50%;
    padding-top: 20px;
    border-bottom: 1px solid var(--mainGrey);
  }
}

/*coding page*/

.codingpic {
  max-width: 300px;
}
